Flask
Flask-SocketIO
python-engineio
python-socketio
simple-websocket
pandas
faiss-cpu
numpy
langchain
langchain-huggingface
sentence-transformers
transformers
torch
accelerate
Pillow
pytesseract
google-generativeai
mediapipe
opencv-python 